/*======GLOBAL STYLE========*/
:root {
  --color-orange: #F6A64D;
  --color-green: #8BA73B;
  --color-highlight: rgb(139,167,59);
  --color-text: #626262;
  --color-border: #edecec;
  --color-backcolor-icon: #f2f4ec;
  --border: .1rem solid var(--color-border)
}
.highlight-text {
  color: var(--color-highlight);
}
/*======END GLOBAL STYLE========*/
.products__category__container {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;

  .products__category__header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }
  .products__category__body {
    width: 100%;

    .products__category__list {
      list-style: none;
      margin-top: 2rem;

      .products__category__item {
        padding: .5rem 0;

        a {
          text-decoration: none;
          font-size: 1.4rem;
          color: #000;
          transition: .4s;
        }

        a:hover {
          color: var(--color-highlight);
          transition: .4s;
        }
      }
    }
  }
}
