@import './variables/variables.scss';
@import './util/util.scss';
@import './pages/products.scss';
@import './pages/productDetail.scss';
@import './pages/checkout.scss';
@import './components/Header-2.scss';
@import './components/HomeSlider.scss';
@import './components/Product.scss';
@import './components/Table.scss';
@import './components/InputGroup.scss';
@import './components//ProductDetail/ProductDetail.scss';
@import './components/ProductCategory.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    background-color: #f2f4ec;
    background-image: url("../assets/bg-body.png");
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.container, #root {
    width: 128rem;
    margin: 5rem auto;
}